<div class="main-content">
	<div class="space"></div>
	<div class="post-stream">
		<div class="panel-title"> Submitted Pictures</div>
		<div class="posts-panel">
			{{#each pics as |pic|}}
                <div class="panel panel-default">
                    <div class="panel-body">
						<div class="post">
					  		<div class="post-main-content">
						  		<div class="pic-title"> {{pic.title}} </div>
						  		<img class="pic img-responsive img-rounded" src="/images/{{pic.filename}}" />
						  		<div class="pic-footer" title="{{pic.datetime.text}}"> {{pic.datetime.relative}} </div>
						  	</div>
						  	<div class="post-comments">
						  		{{#if pic.comments}}
							  		{{#each pic.comments as |comment|}}
							  			<div class="comment">
					    					<div class="comment-user">
						  						<img class="user-icon" src="/images/user.jpg" />
							    				<div class="user-name"> {{comment.username}} </div>
					    					</div>
					    					<div class="comment-content">{{comment.comment}}</div>
									    	<div class="comment-datetime" title="{{comment.datetime.text}}">
									    		{{comment.datetime.relative}}
									    	</div>
							    		</div>
							  		{{/each}}
						  		{{else}}
						  			<div class="be-the-first"> Be the first to comment! </div>
								{{/if}}
						  		<div class="new-comment">
					    			<form method="POST" action="/comment/{{pic._id}}" class="pure-form comment-form">
				    					<div class="comment-form-top">
					    					<input class="input-comment-username" type="text" name="username" placeholder="Username" required>
											<button type="submit" class="pure-button pure-button-primary submit-comment-btn">Submit Comment</button>
										</div>
										<textarea name="comment" class="input-comment-text" rows="2" placeholder="Comment" required></textarea>
									</form>
					    		</div>
						  	</div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	<div class="space"></div>
</div>